<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Transportation - FastTag">

    <test name="SwitchValidations_E2E_Regression_Suite_Sequential">
        <classes>
            <class name="com.test.appium.gradeUPTestCases.GradeUPAssignment"></class>
        </classes>

    </test>

</suite>